<div id="carouselBanner" class="carousel slide mb-4" data-bs-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>

    <!-- Banner items -->
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000"> <!-- 4s -->
            <img src="/images/banner1.jpg" class="d-block w-100" alt="Banner 1" style="height:400px; object-fit:cover;">
        </div>
        <div class="carousel-item" data-bs-interval="4000"> <!-- 4s -->
            <img src="/images/banner2.jpg" class="d-block w-100" alt="Banner 2" style="height:400px; object-fit:cover;">
        </div>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselBanner" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselBanner" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<h4 class="mb-3">Sách Mới Nổi Bật</h4>
<div class="row">
    <% books.forEach(book=> { %>
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-img-top d-flex justify-content-center align-items-center" style="margin: 10px;">
                    <% const cover=book.images.find(img=> img.is_cover);
                        if (cover) {
                        %>
                        <img src="<%= cover.url %>" alt="cover" width="100px" height="100px">
                        <% } else { %>
                            Không có ảnh
                            <% } %>
                </div>
                <div class="card-body ">
                    <h6 class="card-title  d-flex justify-content-center align-items-center ">
                        <%= book.name %>
                    </h6>
                    <p class="card-text text-danger  d-flex justify-content-center align-items-center">
                        <%= book.price %> đ
                    </p>
                    <a href="/book/<%= book.id %>"
                        class="btn btn-sm btn-outline-success  d-flex justify-content-center align-items-center">Xem chi
                        tiết</a>
                </div>
            </div>
        </div>
        <% }) %>
</div>